body{
    background-color: rgb(255, 195, 84);
    max-width: 600px;
    margin: 0 auto;
}
h1{
    color: white;
    background-color: orange;
    position: fixed;
    top: 10px;
    right: 10px;
}
h3 {
    display: flex;
    justify-content: center;
}
img{
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background: orange;
    padding: 50px;
    border: 1px solid black;
}
#spanId {
    font-size: 18px;
    margin: 10px;
    display: block;
}
